{{ $p := . }}
{{ $currentTags := $p.Params.tags | default slice }}
{{ $currentCats := $p.Params.categories | default slice }}

{{ $related := .Site.RegularPages.Related . | first 4 }}

{{ if gt (len $related) 0 }}
<aside class="related">
  <h3>Related</h3>
  <ul>
    {{ range $related }}
    {{ $hasSharedTags := false }}
    {{ if and $currentTags .Params.tags }}
    {{ if intersect .Params.tags $currentTags }}{{ $hasSharedTags = true }}{{ end }}
    {{ end }}

    {{ $hasSharedCats := false }}
    {{ if and $currentCats .Params.categories }}
    {{ if intersect .Params.categories $currentCats }}{{ $hasSharedCats = true }}{{ end }}
    {{ end }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <span class="related-type">
        {{ if .Draft }}<small class="label-wip">WIP</small>{{ end }}
        {{ if $hasSharedTags }}<small class="label-tag">tag</small>{{ end }}
        {{ if $hasSharedCats }}<small class="label-cat">category</small>{{ end }}
      </span>
      {{ with .Params.summary }}<br /><small class="muted">{{ . }}</small>{{ end }}
    </li>
    {{ end }}
  </ul>
</aside>
{{ end }}
