{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Params.description }}
        <h2>{{ . }}</h2>
      {{ end }}
    </header>
    <section>
      {{ .Content }}
    </section>
    <ul>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.tags }}
          <small class="tags">&nbsp;—&nbsp;{{ range $i, $t := . }}{{ if $i }}, {{ end }}<a href="/tags/{{ $t | urlize }}">{{ $t }}</a>{{ end }}</small>
        {{ end }}
      </li>
    {{ end }}
    </ul>
  </article>
{{ end }}
