{{ define "main" }}
<article>
  <header>
    <div class="title-group">
      <h1>{{ .Title }}</h1>
      {{ if .Draft }}<span class="draft-badge">WIP</span>{{ end }}
      {{ with .Params.links }}{{ partial "components/external-links.html" . }}{{ end }}
    </div>
    <h2>{{ .Description }}</h2>
    {{ with .Params.tags }}
    <div class="tags">
      <span>Tags:</span>
      {{ range . }}
      {{ partial "components/badge.html" (dict "text" . "url" (printf "tags/%s/" (. | urlize) | relURL)) }}
      {{ end }}
    </div>
    {{ end }}
  </header>
  <section>
    {{ .Content }}
  </section>

  {{ partial "related.html" . }}
</article>
{{ end }}
