{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      {{ with .Params.description }}
        <h2>{{ . }}</h2>
      {{ end }}
      {{ with .Params.tags }}
        <div class="tags">
          <span>Tags:</span>
          {{ range $t := . }}<a class="badge" href="/tags/{{ $t | urlize }}/">{{ $t }}</a>{{ end }}
        </div>
      {{ end }}
      {{ with .Params.categories }}
        <div class="categories">
          <span>Categories:</span>
          {{ range $t := . }}<a class="badge" href="/categories/{{ $t | urlize }}/">{{ $t }}</a>{{ end }}
        </div>
      {{ end }}
      {{ with .Params.github }}
        <a href="{{ . }}" target="_blank" rel="noopener">View on GitHub</a>
      {{ end }}
    </header>
    <section>
      {{ .Content }}
    </section>

    {{ partial "related.html" . }}
  </article>
{{ end }}
