{{ define "main" }}
<article>
  <header>
    <h1>
      {{ if .Params.github }}
      <a href="{{ .Params.github }}">{{ .Title }}</a>
      {{ else }}
      {{ .Title }}
      {{ end }}
      {{ if .Draft }}<span class="draft-badge">WIP</span>{{ end }}
    </h1>
    <h2>{{ .Description }}</h2>
    {{ with .Params.tags }}
    <div class="tags">
      <span>Tags:</span>
      {{ range . }}
      {{ partial "components/badge.html" (dict "text" . "url" (printf "/tags/%s/" (. | urlize))) }}
      {{ end }}
    </div>
    {{ end }}
  </header>
  <section>
    {{ .Content }}
  </section>

  {{ partial "related.html" . }}
</article>
{{ end }}
