{{ $title := .title }}
{{ $url := .url }}
{{ $summary := .summary }}
{{ $tags := .tags }}
{{ $draft := .draft }}

<li>
  <a href="{{ $url }}">{{ $title }}</a>{{ if $draft }} <span class="draft-badge">WIP</span>{{ end }}
  {{ with $tags }}
  <small class="tags">&nbsp;—&nbsp;
    {{ $max := 3 }}
    {{ range $i, $t := first $max . }}
    {{ if $i }}, {{ end }}
    <a href="{{ relURL (printf "tags/%s/" ($t | urlize)) }}">{{ $t }}</a>
    {{ end }}
    {{ $remaining := sub (len .) $max }}
    {{ if gt $remaining 0 }}
    <span class="muted">+{{ $remaining }} more</span>
    {{ end }}
  </small>
  {{ end }}
  {{ with $summary }}
  <p>{{ . }}</p>
  {{ end }}
</li>
