name: CI

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  hugo-build:
    name: Hugo
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
      - name: Build site (Hugo)
        run: hugo -s site --minify --cleanDestinationDir
